@font-face {
    font-family: story;
    src: url(../fonts/little-story.ttf);
}

@font-face {
    font-family: caviar;
    src: url(../fonts/caviardreams-boldItalic.ttf);
}

$font1: 'caviar';
$font2: 'story';